doctype html
head
	meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
	title tg.pe URL Shortener by.Sean
	link(rel='icon' type='image/png' href='/logo-192.png' sizes='192x192')
	link(rel='icon' type='image/png' href='/logo-128.png' sizes='128x128')
	link(rel='icon' type='image/png' href='/logo-64.png' sizes='64x64')
	link(rel='icon' type='image/png' href='/logo.png' sizes='680x680')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	meta(name='keywords' content='url shortener, tgpe')
	meta(name='description' content="Shortest Shortener")
	meta(property='og:title' content='tg.pe URL Shortener')
	meta(property='og:url' content='https://tg.pe/')
	meta(property='og:image' content='/logo.png')
	meta(property='og:image:secure_url' content='/logo.png')
	meta(property='og:image:type' content='image/png')
	meta(property='og:image:width' content='680')
	meta(property='og:image:height' content='680')
	meta(property='og:type' content='website')
	meta(property='og:description' content="Shortest Shortener")
	meta(property='og:site_name' content="URL Shortener by.Sean")
center(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;")
	img(src='logo.png' style='height: 40vh; margin-top: 40px;')
	h1 tg.pe URL Shortener
	h2
		| Click Here: 
		a(href="https://t.me/tgpebot" style="color: #337ab7; text-decoration: none;") @tgpebot
