body {
	background-color: #EBF5FB;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4;
}

a {
	color: #337ab7;
	text-decoration: none;
}

footer {
	height: 100px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.content {
	min-height: calc(100vh - 100px);
}
.footer {
	height: 100px;
}

input {
	font-size: 100%;
	font-family: inherit;
	line-height: inherit;
}

.input {
	position: relative;
	font-size: 1em;
	background: linear-gradient(21deg, #10abff, #1beabd);
	background: #0088CC;
	padding: 3px;
	display: inline-block;
	border-radius: 9999em;
	margin: 0.5vh;
}

.input *:not(span) {
	position: relative;
	display: inherit;
	border-radius: inherit;
	margin: 0;
	border: none;
	outline: none;
	padding: 0 0.325em;
	z-index: 1;
}

.input *:not(span):focus + span {
	opacity: 1;
	transform: scale(1);
}

.input span {
	transform: scale(0.993, 0.94);
	transition: transform 0.5s, opacity 0.25s;
	opacity: 0;
	position: absolute;
	z-index: 0;
	margin: 2px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	pointer-events: none;
	box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 20px #1beabd, -3px 3px 20px #10abff;
}

::placeholder {
	color: #cbd0d5;
}

.button {
	background-color: white;
	border: solid #0088CC;
	color: blask;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
}

.button:hover {
	background-color: #0088CC;
	color: white;
	border-radius: 8px;
}
